/* .popup__input_type_author-name:invalid #popup__error-author {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    padding: 0px 6px;
} */




.popup__error-message {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    padding: 4px 6px 0px;
}